.circle-chart {
    margin: 0 auto;
    background: #F1F3F6;
    border: 0.25px solid #E7E7E7;
    box-shadow: 10px 10px 15px rgba(202, 206, 220, 0.62), 10px 10px 15px #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}